*.0f
*.0inc
*.LOG
*.OUT
*.RES
*.SP?
*.a
*.d
*.db
*.deps
*.exe
*.mfx
*.mic
*.mod
*.nfs*
*.o
*.obj
*.pid
*.pvd
*.pyc
*.swp
*.vtk
*.vtp
*.vtu
*_gen.rst
*~
.coverage
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
TAGS
VTU_FRAME_INDEX.TXT
_build
build
cmake_install.cmake
compile
dist
mfixgui/uifiles/*.py
mfixsolver
postmfix
tmp.*
